<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
    
        #formulario{
        background-color: gray;
        color: white;
        position: absolute;
        top: 10%;
        left: 5%;
        right: 5%;
        padding: 150px;
        text-align: center;
        font-size: 50px;
        border-radius: 1em;
        }
        input{
            width:500px;
            height: 60px;
            font-size: 30px;
            text-align: center;
            border-radius: 15px;
        }

    </style>

</head>
<body>

    <form action="/redi" id="formulario">
        <label >Informe a Url sem o protocolo</label>
        <label >(https://www.youtube.com/):</label><br>
        <hr>
        <input type="text" name="url" placeholder="exemple: watch?v=NpdsdsTA4">
    </form>
</body>
</html>